body{
    text-align: center;
    background-color: #fada5f;
    font-family: "Lucida Console", "Courier New", monospace;
    
  }

  
  h1{
    font-size: 200%;
    text-align: center;
    color: #c69f26;
    text-shadow: 2px 2px black;
    box-shadow: 8px 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;

  }

/*  button {
    background-color: #d99536; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
*/


  p2{
    font-size: 90%;
  }




.slider {
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #b69513;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }